#lightbox {
	background-color: #eee;
	padding: 10px;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#overlay {
	text-align: left;
	background-image: url(../../img/lightbox/overlay.png);
}
#lightboxCaption {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font-size: 90%;
	lihe-height: 100%;
	text-align: center;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#lightboxIndicator {
	border: 1px solid #fff;
}
#lightboxOverallView {
	background-image: url(../../img/lightbox/overlay.png);
}
* html #lightboxOverallView,
* html #overlay {
	background-color: #000;
	background-image: url(../../img/lightbox/blank.gif);
	filter: Alpha(opacity=50);
}
#lightboxIC2Rank {
	margin: 0;
	padding: 2px;
	background-color: #fff;
	text-align: center;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
}
#lightboxIC2Rank img {
	cursor: pointer;
}
